* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    outline: none;
    text-decoration: none;
    transition: .2s linear;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0; left: 0; right: 0;
    background: #fff;
    padding: 2rem 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 1);
}


header .logo {
    font-size: 3rem;
    color: #333;
    font-weight: bolder;
}

header .logo span {
    color: #e84393;
}

header .navbar a {
    text-decoration: none;
     font-size: 2rem;
     padding: 0 1.5rem;
     color: #666;
}

header .navbar a:hover {
    color: #e84393;
}

header .icons a {
    font-size: 2.5rem;
    color: #333;
    margin-left: 1.5rem;
}

header .icons a:hover {
    color: #e84393;
}

header #toggler {
    display: none;
}

header .fa-bars {
    font-size: 3rem;
    color: #333;
    border-radius: .5rem;
    padding: .5rem 1.5rem;
    cursor: pointer;
    border: .1rem solid rgba(0, 0, 0, 3);
    display: none;
}


section {
    padding: 2rem 9%;
}

/* cart items */

.cart-page {
    margin: 80px auto;
    padding-left: 10%;
    padding-right: 10%;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.cart-info {
    display: flex;
    flex-wrap: wrap;
}

th {
    font-size: 1.5rem;
    text-align: left;
    padding: 5px;
    color: #fff;
    background:#e84393;
    font-weight: normal;
}

td {
    padding: 10px 5px;
}

td input {
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a {
    color: #e84393;
    font-size: 12px;
}

td img {
    width: 80px;
    height: 80px;
    margin-right: 10px;
}

.total-price {
    display: flex;
    justify-content: flex-end;
}

.total-price table {
    border-top: 3px solid #e84393;
    width: 100%;
    max-width: 460px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
} 

.footer .box-container {
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.footer .box-container .box {
    flex: 1 1 25rem;

}


.footer .box-container .box  h3{
    color: #333;
    font-size: 2.5rem;
    padding: 1rem 0;
}


.footer .box-container .box a {
    display: block;
    color: #666;
    font-size: 1.5rem;
    padding: 1rem 0;
}


.footer .box-container .box a:hover {
    color: #e84393;
    text-decoration: none;
}

.footer .box-container .box img {
    margin-top: 1rem;
    width:20%;
    height: 10%;
}

.footer .credit {
    text-align: center;
    padding: 1.5rem;
    margin-top: 1.2rem;
    padding-top: 2.2rem;
    font-size: 1.9rem;
    color: #333;
    border-top: 1rem solid rgba(0, 0, 0, .1);
}

.footer .credit span {
    color:#e84393;
}












@media (max-width:991px) {
    html{
        font-size: 55%;
    }

    header{
        padding: 2rem;
    }

    section{
        padding: 2rem;
    }

    .home {
        background-position: left;
    }
}


@media (max-width:768px){

    header .fa-bars {
        display:block;
    }

    header .navbar {
        position: absolute;
        top: 100%; left:0; right:0;
        background: #eee;
        border-top: .1rem solid rgba(0, 0, 0, 1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        background: #fff;
        border: .1rem solid rgba(0,0, 0, 1);
        display: block;
    }

    header #toggler:checked ~ .navbar {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    .home .content h3 {
        font-size: 5rem;
    }
    .home .content span {
        font-size: 2.5rem;
    }

}


@media (max-width:450px) {
    html{
        font-size: 50%;
    }

    .heading {
        font-size: 3rem;
    }

    
.icons-container .icons h3 {
    font-size: 2rem;
}

.icons-container .icons span {
    font-size: 1.7rem;
}

}


